/*@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);*/

body {
    color: rgba(0, 0, 0, .87);
    line-height: 1.2;
    font-weight: 400;
    color: black;
    overflow: scroll;
    overflow-x: hidden;
    height: fit-content;
}

/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*    !*background: transparent;*!*/
/*    background-color: black;*/
/*}*/

div::after {
    content: '';
    display: block;
    clear: both
}

div button {
    margin: 2px;
    padding: 2px;
}

.bg-info a {
    margin: 2px;
    padding: 2px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

/*html5 compatible old browser IE*/
article, aside, details, figcaption, figure, footer, header, section, hgroup, menu, nav {
    display: block;
}

* {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.4285em;
    color: rgba(0, 0, 0, .87);
    font-smoothing: antialiased;
}
*, ::after, ::before {
    box-sizing: border-box;
    margin-top:2px;
    margin-bottom: 2px;
}


h1 {
    font-size: 2em;
    margin: .67em 0
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
    margin-top: 0
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child {
    margin-bottom: 0
}

iframe {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: auto;
    word-wrap: break-word;
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

.page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

.headerBar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 1000;
}

.xinput input[type=text] {
    width: 50px;
    padding: 1px;
    margin: 2px;
    text-align: right;
    left: 50%;
}

@-ms-viewport {
    width: 100vw;
    height: 100vh;
}

footer, .bottom {
    background-color: #4285F4;
    padding: 4px;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    /*font-size: 12px;*/
}

section {
    padding: 4px;
    left: 0;
    position: relative;
    width: 100%;
}
.ribbon {
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0, 0, 0, .15);
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    font-size: 18pt;
    padding-right: 1.2em;
}

.ribbon:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0
}


.content {
    padding-top: 50px;
}

.load {
    /*z-index: 2;*/
    left: 50%;
    top: 5px;
    position: absolute;
    padding: 5px;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    /*font-size: 90%;*/
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    border: 1px solid #000
}

.xlable {
    min-width: 250px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.content-left li {
    padding: 5px;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.text-dark {
    color: #343a40 !important
}

.text-body {
    color: #212529 !important
}

.text-muted {
    color: #6c757d !important
}

.text-primary {
    color: #007bff !important
}

.text-success {
    color: #28a745 !important
}

.text-info {
    color: #17a2b8 !important
}

.text-warning {
    color: #ffc107 !important
}

.text-danger {
    color: #dc3545 !important
}

.text-light {
    color: #f8f9fa !important
}


.column {
    flex: 50%;
    height: auto;
}

.row {
    display: flex;
}

.right {
    float: right;
}

.left {
    float: left;
}

.star {
    color: #c82333;
    cursor: pointer;
}

.star:hover {
    color: #005cbf;
    float: right;
}

.noHover div > span {
    pointer-events: auto;
}

.content-right, .content-left, .content-right-subdiv {
    height: calc(100vh - 110px);
    padding-top: 5px;
    padding-left: 5px;
}

.content-left {
    float: left;
    background-color: #686868;
}

.content-right {
    /*color: black;*/
    overflow: auto;
    word-wrap: break-word;
    position: relative;
}

.content-right-subdiv {
    display: none;
    color: #005cbf;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    background-color: #e9ecef;
}

.topdiv {
    position: absolute;
    background-color: #20c997;
    color: white;
    width: auto;
    padding: 5px;
}

header, .top {
    background-color: #4285F4;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 14px;
}

header div {
    margin: 2px;
    padding: 3px;
}

.name {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
    /*float: left;*/
    text-decoration: underline;
}

.tld {
    font-weight: bold;
    font-size: 18pt;
    vertical-align: middle;
    float: right;
    /*text-decoration: underline;*/
}

dl, ol, ul {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0.2px;
    margin-inline-end: 0.2px;
    padding-inline-start: 2px;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1rem
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    cursor: pointer;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

.primary {
    background-color:#2185d0;
    color: white;
}

.secondary{
    background-color: grey;
    color: white;
}

.red {
    background-color: #db2828;
    color: white;
}

.orange {
    background-color: #f2711c;
    color: white;
}

.yellow {
    background-color: #fbbd08;
    color: white;
}

.olive {
    background-color: #b5cc18;
    color: white;
}

.green {
    background-color: #21ba45;
    color: white;
}

.teal {
    background-color: #00b5ad;
    color: white;
}

.blue {
    background-color: #2185d0;
    color: white;
}

.violet {
    background-color: #6435c9;
    color: white;
}

.purple {
    background-color: #a333c8;
    color: white;
}

.pink {
    color: white;
    background-color: #e03997;
}

.brown {
    background-color: #a5673f;
    color: white;
}

.grey {
    background-color: #767676;
    color: white;
}

.black {
    color: white;
    background-color: #1b1c1d;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-weight: bolder;
    font-style: normal;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .78571429em 1.5em .78571429em;
    font-size: 1rem;
    line-height: .75rem;
    border-radius: .25rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    color: rgba(0, 0, 0, .8)
}

li:hover {
    color: #4285F4;
    background-color: white;
}

li > span {
    cursor: pointer;
}

code, kbd, pre, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em
}

pre {
    font-size: 14px;
    margin-top: 0;
    -ms-overflow-style: scrollbar;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


a {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #495057;
    text-decoration: underline
}

.droplet {
    background: #4285F4;
    border-radius: 5% 5%;
    transition: all 1s;
    transition-timing: ease-in-out;
}

.noHover {
    pointer-events: none;
}

.cursel {
    background-color: white;
    color: #4285F4;
}

li {
    list-style-type: none;
    position: relative;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
    /*transition: 0.5s;*/
}

.overlay-content {
    position: relative;
    /*top: 1%;*/
    width: calc(100% - 150px);
    padding: 30px;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.click {
    cursor: pointer;
    /*background-color: white;*/
}

.overlay .closebtn {
    position: fixed;
    right: 45px;
    float: right;
    margin-right: 50px;
}

.box {
    border: 2px solid rgba(0, 0, 0, .225);
    border-radius: .50rem;
    padding: 10px;
    left: 0;
    margin: 10px;
}


.bg-primary {
    background-color: #007bff !important;
    color: white;
}


.bg-secondary {
    background-color: #6c757d !important;
    color: white;
}


.bg-success {
    background-color: #28a745 !important;
    color: white;
}

.bg-teal {
    background-color: #00b5ad !important;
    color: white;
}

.bg-info {
    background-color: #17a2b8 !important;
    color: white;
}

.bg-warning {
    background-color: #ffc107 !important;
    color: white;
}

.bg-white {
    background-color: white !important;
    color: black;
}

.bg-danger {
    background-color: #dc3545 !important;
    color: white;
}


.bg-light {
    background-color: #f8f9fa !important;
    color: black;
}


.bg-dark {
    background-color: #343a40 !important;
    color: white;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

.rightContainer {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 102;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
    overflow-x: hidden;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color:white;
}
.sidenav a:hover {
    color: red;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

.dp {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.portrait {
    height: 100%;
    width: 40px;
}

.landscape {
    height: 100%;
    width: 80px;
}

.square {
    height: 100%;
    width: 100px;
}

#barStatus {
    position: absolute;
    width: 1%;
    height: 20px;
    background-color: #1c7430;
    display: none;
}

@media screen and (max-width: 600px) {
    body, .parent div {
        font-size: 9px;
        padding: 2px;
    }


    .content {
        padding-top: 40px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .name, .tld {
        font-size: 14px;
        vertical-align: middle;
    }

    .togglePanel {
        font-size: 12px;
    }

    footer {
        font-size: 10px;
    }

    .btn {
        padding: .275rem .225rem;
        line-height: 1;
    }

    .row {
        display: inline;
        clear: both;
        padding: unset;
    }
}

.grid{
    position: relative;
    overflow:auto;
    height: 300px;
    width: 100%;
}

table{
    padding:0px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-top:5px;
    margin-bottom:5px;
}
table, th, td {
    /*border: 1px solid black;*/
    padding:5px;
    font-size: 12px;
    width:auto;
}
tr {
    border: 1px solid black;
}
::-webkit-resizer {
    background-color: white;
    border-right:5px solid red;
}
.headline td{
    font-size: 12pt;
    font-weight: bolder;
    background-color: black;
    color: white;
    cursor:pointer;
    resize: horizontal;
    border:1px solid gray;
    overflow-x: auto;
}
td{
    word-break: break-word;
}

tr:nth-of-type(odd) {
    background: #eee;
}

td input[type=text]{
    min-width: 60px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}
